doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/index.js')
    script(src='/javascripts/draw_chart.js')
    script(src='/javascripts/graph.js')
  body
    block content