extends layout

block content
    // Header including title, page number
    h1= title
    p

    #searchForm
        span Search:
        input(type="text", id="searchInput", size="100", onkeyup="autoComplete()", onKeyPress="submitenter(this, event)")
    #searchResult

    p