body
  font-family "Helvetica Neue", "Lucida Grande", "Arial"
  font-size 10px
  text-align center
  text-stroke 1px rgba(255, 255, 255, 0.1)
  color #555
h1, h2
  margin 0
  font-size 15px
  color #343434
h1
  text-shadow 1px 2px 2px #ddd
  font-size 30px

#searchForm
  font-size 20px
  font-weight bold
  #searchResult
    font-size 14px

#page
  ul
    width 75%
    margin-left auto
    margin-right auto
    font-weight bold
    list-style-type none
    height 30px
    font-size 15px;
  li
    float left
    padding-right: 10px;
    padding-left: 10px;

#articles
  font-size 15px
  text-align left
  margin-left auto
  margin-right auto
  width 75%
  .article
    height 80px
    margin 20px
    .title
        float left
        width 100%
        font-weight bold
        text-decoration underline
        background-color #eee
    .date_created
        font-size 12px
        background-color #ffa
    .info
        width 100%
        font-weight bold
        overflow hidden
        background-color #ffa
    .topic
      float left
      color red
    .domain
      float right